* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-image: url(/imagenes/fondo3.jpg);
}

h1 {
  color: darkslategray;
  text-align: center;
  -webkit-text-decoration: dotted;
          text-decoration: dotted;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
  color: dimgrey;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
  color: salmon;
  font-style: italic;
  font-size: 1.5rem;
}

ul {
  list-style-type: circle;
}

h3 {
  color: grey;
  font-style: oblique;
  font-size: x-large;
}

.subtitulo {
  text-align: center;
  color: darksalmon;
  font-style: italic;
  font-size: 1.5rem;
}

.menu {
  list-style: none;
  margin: 10px;
  background-color: linen;
  text-align: center;
  gap: 10rem;
}

.menu li {
  display: inline-block;
  text-align: center;
  margin: 20px;
  background-color: bisque;
}

.menu li .menu li a {
  text-decoration: none;
  display: inline-block;
}

.menu li:hover {
  background-color: darkgrey;
  border-radius: 10%;
}

.menu li:hover .menu li a:hover {
  color: bisque;
}

.pie {
  color: slategrey;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
  width: 250px;
  height: 200px;
  opacity: .4;
  border: 2px dimgrey;
}

img.logo {
  width: 10%;
  height: 10%;
  opacity: 1;
  border: 2px dimgrey;
}

img.logo:hover {
  opacity: 1;
  border: none;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

img:hover {
  opacity: 1;
  border: solid 2px white;
}

img.principal {
  width: 30%;
  height: 30%;
  opacity: 1;
  border: 2px dimgrey;
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
  border-radius: 30px;
  text-align: center;
}

img.principal:hover {
  opacity: 1;
  border: none;
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.nav.principal {
  text-align: center;
}

.form-label {
  color: darksalmon;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.contenedor {
  width: 90%;
  margin: 5%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (3fr)[1];
      grid-template-columns: repeat(1, 3fr);
  -ms-grid-rows: (2fr)[1];
      grid-template-rows: repeat(1, 2fr);
}

@media (max-widht: 768px) {
  p.seccion body {
    background-image: url(/imagenes/fondo3.jpg);
  }
  p.seccion h1 {
    color: teal;
    text-align: center;
    -webkit-text-decoration: dotted;
            text-decoration: dotted;
    font-family: 'Arima Madurai', cursive;
    font-size: 2rem;
  }
  p.seccion p {
    color: dimgrey;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  p.seccion h2 {
    color: darkslategrey;
    font-style: italic;
    font-size: 1.5rem;
  }
  p.seccion ul {
    list-style-type: circle;
  }
  p.seccion h3 {
    color: grey;
    font-style: oblique;
    font-size: x-large;
  }
  p.seccion .subtitulo {
    text-align: center;
  }
  p.seccion .menu {
    list-style: none;
    margin: 10px;
    background-color: linen;
    text-align: center;
    gap: 10rem;
  }
  p.seccion .menu li {
    display: inline-block;
    text-align: center;
    margin: 20px;
    background-color: beige;
  }
  p.seccion .menu li a {
    text-decoration: none;
    display: inline-block;
  }
  p.seccion .menu li:hover {
    background-color: gray;
    border-radius: 10%;
  }
  p.seccion .menu li a:hover {
    color: bisque;
  }
  p.seccion .pie {
    color: slategrey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  p.seccion img {
    width: 250px;
    height: 200px;
    opacity: .4;
    border: 2px dimgrey;
  }
  p.seccion img.logo {
    width: 10%;
    height: 10%;
    opacity: 1;
    border: 2px dimgrey;
  }
  p.seccion img.logo:hover {
    opacity: 1;
    border: none;
  }
  p.seccion .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  p.seccion img:hover {
    opacity: 1;
    border: solid 2px white;
  }
  p.seccion img.principal {
    width: 30%;
    height: 30%;
    opacity: 1;
    border: 2px dimgrey;
  }
  p.seccion img.principal:hover {
    opacity: 1;
    border: none;
  }
  p.seccion .contenedor {
    width: 90%;
    margin: 5%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (3fr)[1];
        grid-template-columns: repeat(1, 3fr);
    -ms-grid-rows: (2fr)[4];
        grid-template-rows: repeat(4, 2fr);
  }
}

@media (min-widht: 280px) {
  p.seccion body {
    background-image: url(/imagenes/fondo3.jpg);
  }
  p.seccion h1 {
    color: teal;
    text-align: center;
    -webkit-text-decoration: dotted;
            text-decoration: dotted;
    font-family: 'Arima Madurai', cursive;
    font-size: 2rem;
  }
  p.seccion p {
    color: dimgrey;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  p.seccion h2 {
    color: darkslategrey;
    font-style: italic;
    font-size: 1.5rem;
  }
  p.seccion ul {
    list-style-type: circle;
  }
  p.seccion h3 {
    color: grey;
    font-style: oblique;
    font-size: x-large;
  }
  p.seccion .subtitulo {
    text-align: center;
  }
  p.seccion .menu {
    list-style: none;
    margin: 10px;
    background-color: linen;
    text-align: center;
    gap: 10rem;
  }
  p.seccion .menu li {
    display: inline-block;
    text-align: center;
    margin: 20px;
    background-color: beige;
  }
  p.seccion .menu li a {
    text-decoration: none;
    display: inline-block;
  }
  p.seccion .menu li:hover {
    background-color: gray;
    border-radius: 10%;
  }
  p.seccion .menu li a:hover {
    color: bisque;
  }
  p.seccion .pie {
    color: slategrey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  p.seccion img {
    width: 250px;
    height: 200px;
    opacity: .4;
    border: 2px dimgrey;
  }
  p.seccion img.logo {
    width: 10%;
    height: 10%;
    opacity: 1;
    border: 2px dimgrey;
  }
  p.seccion img.logo:hover {
    opacity: 1;
    border: none;
  }
  p.seccion .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  p.seccion img:hover {
    opacity: 1;
    border: solid 2px white;
  }
  p.seccion img.principal {
    width: 30%;
    height: 30%;
    opacity: 1;
    border: 2px dimgrey;
  }
  p.seccion img.principal:hover {
    opacity: 1;
    border: none;
  }
}
/*# sourceMappingURL=estilo.css.map */