//variables
$smartphone:280px;
$desktop:768px;
::after$fb
::after$tw
::after$inst


* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color:beige;
}
h1 {

    color:dimgrey;
    text-align: center;
    text-decoration: dotted;
    font-family:Georgia, 'Times New Roman', Times, serif
}
p {
    color: dimgrey;
    font-family:Georgia, 'Times New Roman', Times, serif
    
}

h2 {
    color:salmon;
    font-style: italic;
        font-size: 1.5rem;
}
ul {
    list-style-type: circle
}
h3 {
    color: grey;
    font-style: oblique;
    font-size: x-large;
}
.subtitulo {
    text-align: center;
    color:darksalmon;
    font-style: italic;
        font-size: 1.5rem;
}
.menu {
    list-style: none;
    margin:10px;
    padding: 10px;
    background-color:rgb(248, 240, 248);
    text-align:right;
    gap: 20rem;

}
.menu li {
    
    text-align: center;
    margin: 20px;
    background-color:papayawhip;
    .menu li a {
        text-decoration: none;
        display: inline-block;
    
    }
}
.menu li:hover {
    background-color:darkgrey;
    border-radius: 10%;
    .menu li a:hover {
        color: bisque;
    }

}

.pie {
    color: slategrey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
img {
    border-radius: 30px;

}
img.logo{
    width: 10%;
    height: 10%;
    opacity: 1;
    border: 2px dimgrey;

}
img.logo:hover{
    opacity: 1;
    border: none;
}
img:hover {
    opacity: 1;
    border: solid 2px white;
}
.fotofruta{
    width: 30%;
    height: 30%;
    opacity: 1;
    border: 2px dimgrey;  
    transition: all 2s ease;
    border-radius: 30px;  
    text-align: center;
}
img.fotofruta:hover {
    opacity: 1;
    border:none;
    transform: scale(1.1,1.1);  
  
}
.form-label{
    color: darksalmon;
    font-family:Georgia, 'Times New Roman', Times, serif
}
.galeria {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.listas{
    font-style: italic;
    color:rgb(131, 16, 79);
}
.bi-facebook {
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 30px;
    color:rgb(96, 96, 170)
}
.bi-twitter{
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 30px;
    color:rgb(64, 64, 219)
}
.bi-instagram{
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 30px;
    color:rgb(135, 72, 194)
}


@mixin iconosredes {
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 30px;
    color:rgb(96, 96, 170)
}
.contenedor {
    width: 90%;
    margin: 5%;
    display: grid;
    grid-template-columns: repeat(1 ,3fr);
    grid-template-rows: repeat(1, 2fr);      
}
.carousel{
    text-align: center;
}

p.seccion{
    @media (max-widht:$desktop){
        body {
            background-image: url("imagenes/fondo3.jpg");
        }
        
        h1 {
            color: teal;
            text-align: center;
            text-decoration: dotted;
            font-family: 'Arima Madurai', cursive;
            font-size: 2rem;
        }
        
        p {
            color: dimgrey;
            font-family: Georgia, 'Times New Roman', Times, serif;
           
        }
        
        h2 {
            color: darkslategrey;
            font-style: italic;
            font-size: 1.5rem;
        }
        
        ul {
            list-style-type: circle
        }
        
        h3 {
            color: grey;
            font-style: oblique;
            font-size: x-large;
        }
        
        .subtitulo {
            text-align: center;
        }
        
        .menu {
            list-style: none;
            margin: 10px;
            background-color: linen;
            text-align: center;
            gap: 10rem;
        
        }
        
        .menu li {
            display: inline-block;
            text-align: center;
            margin: 20px;
            background-color: beige;
        
        }
        
        .menu li a {
            text-decoration: none;
            display: inline-block;
        
        }
        
        .menu li:hover {
            background-color: gray;
            border-radius: 10%;
        }
        
        .menu li a:hover {
            color: bisque;
        }
        
        .pie {
            color: slategrey;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        
        }
        
        
        img {
            width: 250px;
            height: 200px;
            opacity: .4;
            border: 2px dimgrey;
        }
        
        img.logo{
            width: 10%;
            height: 10%;
            opacity: 1;
            border: 2px dimgrey;
        }
        
        img.logo:hover{
            opacity: 1;
            border: none;
        }
            
        .galeria {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
        }
        
        img:hover {
            opacity: 1;
            border: solid 2px white;
        
        }
        .pricipal{
            width: 30%;
            height: 30%;
            opacity: 1;
            border: 2px dimgrey;  
            transition: all 2s ease;
            border-radius: 30px;  
            text-align: center;
        }
        .principal:hover {
            opacity: 1;
            border:none;
            transform: scale(1.1,1.1);  
            text-align: center;    
        }
         .contenedor {
            width: 90%;
            margin: 5%;
            display: grid;
            grid-template-columns: repeat(1 ,3fr);
            grid-template-rows: repeat(4, 2fr);
       
    }

}
}
p.seccion{
    @media (min-widht:$smartphone){
        body {
            background-image: url("imagenes/fondo3.jpg");
        }
        
        h1 {
            color: teal;
            text-align: center;
            text-decoration: dotted;
            font-family: 'Arima Madurai', cursive;
            font-size: 2rem;
        }
        
        p {
            color: dimgrey;
            font-family: Georgia, 'Times New Roman', Times, serif;
            
        }
        
        h2 {
            color: darkslategrey;
            font-style: italic;
            font-size: 1.5rem;
        }
        
        ul {
            list-style-type: circle
        }
        
        h3 {
            color: grey;
            font-style: oblique;
            font-size: x-large;
        }
        
        .subtitulo {
            text-align: center;
        }
        
        .menu {
            list-style: none;
            margin: 10px;
            background-color: linen;
            text-align: center;
            gap: 10rem;
        
        }
        
        .menu li {
            display: inline-block;
            text-align: center;
            margin: 20px;
            background-color: beige;
        
        }
        
        .menu li a {
            text-decoration: none;
            display: inline-block;
        
        }
        
        .menu li:hover {
            background-color: gray;
            border-radius: 10%;
        }
        
        .menu li a:hover {
            color: bisque;
        }
        
        .pie {
            color: slategrey;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        
        }
        img {
            width: 250px;
            height: 200px;
            opacity: .4;
            border: 2px dimgrey;
        }
        
        img.logo{
            width: 10%;
            height: 10%;
            opacity: 1;
            border: 2px dimgrey;
        }
        
        img.logo:hover{
            opacity: 1;
            border: none;
        }
            
        .galeria {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
        }
        
        img:hover {
            opacity: 1;
            border: solid 2px white;
        
        }
        .pricipal{
            width: 30%;
            height: 30%;
            opacity: 1;
            border: 2px dimgrey;  
            transition: all 2s ease;
            border-radius: 30px;  
            text-align: center;
        }
        .principal:hover {
            opacity: 1;
            border:none;
            transform: scale(1.1,1.1);  
             
        }
        
    
    }
}
        

            

          
    
